.cart {
  background: url(../public/img/l.jpg);
  position: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;

  &-popup {
    background-color: rgb(67, 67, 67);
    width: 90%;
    height: 80%;
    margin: 1rem auto;
    display: flex;
    overflow: hidden;
    scroll-snap-type: none;
  }

  &-img {
    width: 50%;
    height: auto;
    position: relative;
  }
  &-pic {
    width: 100%;
    height: 100%;
    filter: brightness(50%);
  }
  &-content {
    display: grid;
    //-ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(10rem));
    gap: 1.5rem;
    overflow-y: scroll;
    padding: 1.5rem 3rem;
    scroll-snap-type: none;
    scrollbar-track-color: #2e26dd;
  }
  &-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    padding: 1rem 1rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid black;
    background-color: white;
  }
  &-item-img {
    width: 10rem;
    height: 10rem;
  }
  &-item-pic {
    width: 100%;
    height: 100%;
  }
  &-item-details {
    display: flex;
    flex-direction: column;
    padding-left: 3rem;
  }
  &-quantity {
    width: 20%;
    padding: 0.2rem 0.1rem;
  }

  &-item-remove {
    background-color: #b00404;
    font-family: sans-serif;
    padding: 0.3rem 0.7rem;
    color: #f9f9f9;
    text-transform: capitalize;
    border-radius: 10px;
    cursor: pointer;
  }

  &-detail {
    position: absolute;
    top: 30%;
    left: 0%;
    color: white;
  }
  &-total {
    display: flex;
    align-items: center;
    margin-right: 1rem;
    justify-content: flex-end;

    &-price {
      font-size: 2rem;
      padding-left: 1rem;
      color: greenyellow;

      padding: 0.3rem 0.4rem;
    }
    &-title {
      font-size: 2rem;
      font-family: sans-serif;
      color: greenyellow;
      padding: 0.3rem 0.5rem;
    }
    &-buy-btn {
      background: orange;
      color: white;
      font-size: 2rem;
      font-family: sans-serif;
      margin-top: 7rem;
      margin-left: 2rem;
      padding: 0.3rem 0.7rem;
      border: none;
      box-shadow: 0rem 0.5rem 0.5rem rgb(27, 8, 8);
      cursor: pointer;
      &:hover {
        background-color: rgb(206, 137, 9);
        transition: 0.3s;
        box-shadow: none;
      }
    }
  }
}
@media (max-width: 824px) {
  .cart-popup {
    flex-direction: column;
  }
  .cart-img {
    width: 100%;
    height: 70%;
  }
  .cart-detail {
    position: absolute;
    top: 10%;
    left: 0%;
    color: white;
  }
  .cart-total {
    justify-content: flex-start;
    margin-top: 2rem;
    margin-left: 2rem;
  }
}

@media (max-width: 400px) {
  .cart-total-buy-btn {
    margin-top: 3rem;
  }
}
